main
{
  background-color: hsl(192, 90%, 80%);
  width: 800px;
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
}
body
{
  background-color: hsl(192, 100%, 40%);
}
.block
{
  display: block;
  margin-bottom: 10px;
}
#results
{
  border: black solid 2px;
  background-color: aqua;
  min-width: 100%;
  min-height: 300px;

  text-align: center;
}
#results_messsage
{
  font-size: 48px;
}